html, body {
    background-color: slategrey;
}

header {
    background-color: #83C3C3 !important;
    /*height: 50px;
    color: hotpink; */
}

.navbar-default {
    background-color: #83C3C3;
}

.navbar-nav .nav-item .nav-link {
    color: #C19A13;
    padding-right: 30px;
}

.navbar-brand-font {
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: -1.6px;
    word-spacing: 0px;
    color:#C19A13;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: uppercase;
}

.home-title {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 50px;
}